body {
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100px;
}

.header,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.action {
  background-color: #3882f6;
}

.quote-block {
  background-color: #e5e7eb;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 12px 128px 128px 128px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

a,
#sec-text {
  font-size: 18px;
  color: #e5e7eb;
}

#hero-main-text {
  font-size: 48px;
  font-weight: bold;
}

.header-top > div {
  font-size: 24px;
}

.header-bottom {
  display: flex;
  gap: 300px;
  justify-content: space-between;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

.left-block {
  max-width: 415px;
}

.left-block > * {
  margin-bottom: 8px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 12px;
  padding: 8px 16px;
}

.placeholder {
  background-color: #a9acb1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.random-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-info-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 128px;
}

.random-info > div {
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
}

.empty-image {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  border-radius: 12px;
  margin-bottom: 12px;
}

.info {
  max-width: 200px;
}

.text {
  text-align: center;
}

.quote-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  max-width: 750px;
  justify-content: center;
}

.quote-quote {
  display: flex;
  font-weight: bold;
  justify-content: center;
}
