body {
  margin: 0;
}

.section {
  min-height: 100px;
  width: 100%;
}

.header,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.action {
  background-color: #3882f6;
}

.quote-block {
  background-color: #a9acb1;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 12px 128px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

a,
#sec-text {
  font-size: 18px;
  color: #e5e7eb;
}

#hero-main-text {
  font-size: 48px;
  font-weight: bold;
}

.header-top > div {
  font-size: 24px;
}

.header-bottom {
  display: flex;
  gap: 300px;
  justify-content: space-between;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

.left-block {
  max-width: 415px;
}

.left-block > * {
  margin-bottom: 8px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 12px;
  padding: 8px 16px;
}

.placeholder {
  background-color: #a9acb1;
  flex-grow: 1;
  text-align: center;
}
